PointOfSaleSystemV54/PointOfSaleSystemV54JavaSeClient/xml-resources/web-service-references/ProductEntityWebService/wsdl/localhost_8080/ProductEntityWebService/ProductEntityWebService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws.session.ejb/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ws.session.ejb/" name="ProductEntityWebService">
<types>
<xsd:schema>
<xsd:import namespace="http://ws.session.ejb/" schemaLocation="http://localhost:8080/ProductEntityWebService/ProductEntityWebService?xsd=1"/>
</xsd:schema>
</types>
<message name="createNewProduct">
<part name="parameters" element="tns:createNewProduct"/>
</message>
<message name="createNewProductResponse">
<part name="parameters" element="tns:createNewProductResponse"/>
</message>
<message name="InvalidLoginCredentialException">
<part name="fault" element="tns:InvalidLoginCredentialException"/>
</message>
<message name="InputDataValidationException">
<part name="fault" element="tns:InputDataValidationException"/>
</message>
<message name="CreateNewProductException">
<part name="fault" element="tns:CreateNewProductException"/>
</message>
<message name="retrieveProductByProductId">
<part name="parameters" element="tns:retrieveProductByProductId"/>
</message>
<message name="retrieveProductByProductIdResponse">
<part name="parameters" element="tns:retrieveProductByProductIdResponse"/>
</message>
<message name="ProductNotFoundException">
<part name="fault" element="tns:ProductNotFoundException"/>
</message>
<message name="retrieveAllProducts">
<part name="parameters" element="tns:retrieveAllProducts"/>
</message>
<message name="retrieveAllProductsResponse">
<part name="parameters" element="tns:retrieveAllProductsResponse"/>
</message>
<portType name="ProductEntityWebService">
<operation name="createNewProduct">
<input wsam:Action="http://ws.session.ejb/ProductEntityWebService/createNewProductRequest" message="tns:createNewProduct"/>
<output wsam:Action="http://ws.session.ejb/ProductEntityWebService/createNewProductResponse" message="tns:createNewProductResponse"/>
<fault message="tns:InvalidLoginCredentialException" name="InvalidLoginCredentialException" wsam:Action="http://ws.session.ejb/ProductEntityWebService/createNewProduct/Fault/InvalidLoginCredentialException"/>
<fault message="tns:InputDataValidationException" name="InputDataValidationException" wsam:Action="http://ws.session.ejb/ProductEntityWebService/createNewProduct/Fault/InputDataValidationException"/>
<fault message="tns:CreateNewProductException" name="CreateNewProductException" wsam:Action="http://ws.session.ejb/ProductEntityWebService/createNewProduct/Fault/CreateNewProductException"/>
</operation>
<operation name="retrieveProductByProductId">
<input wsam:Action="http://ws.session.ejb/ProductEntityWebService/retrieveProductByProductIdRequest" message="tns:retrieveProductByProductId"/>
<output wsam:Action="http://ws.session.ejb/ProductEntityWebService/retrieveProductByProductIdResponse" message="tns:retrieveProductByProductIdResponse"/>
<fault message="tns:InvalidLoginCredentialException" name="InvalidLoginCredentialException" wsam:Action="http://ws.session.ejb/ProductEntityWebService/retrieveProductByProductId/Fault/InvalidLoginCredentialException"/>
<fault message="tns:ProductNotFoundException" name="ProductNotFoundException" wsam:Action="http://ws.session.ejb/ProductEntityWebService/retrieveProductByProductId/Fault/ProductNotFoundException"/>
</operation>
<operation name="retrieveAllProducts">
<input wsam:Action="http://ws.session.ejb/ProductEntityWebService/retrieveAllProductsRequest" message="tns:retrieveAllProducts"/>
<output wsam:Action="http://ws.session.ejb/ProductEntityWebService/retrieveAllProductsResponse" message="tns:retrieveAllProductsResponse"/>
<fault message="tns:InvalidLoginCredentialException" name="InvalidLoginCredentialException" wsam:Action="http://ws.session.ejb/ProductEntityWebService/retrieveAllProducts/Fault/InvalidLoginCredentialException"/>
</operation>
</portType>
<binding name="ProductEntityWebServicePortBinding" type="tns:ProductEntityWebService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="createNewProduct">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="InvalidLoginCredentialException">
<soap:fault name="InvalidLoginCredentialException" use="literal"/>
</fault>
<fault name="InputDataValidationException">
<soap:fault name="InputDataValidationException" use="literal"/>
</fault>
<fault name="CreateNewProductException">
<soap:fault name="CreateNewProductException" use="literal"/>
</fault>
</operation>
<operation name="retrieveProductByProductId">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="InvalidLoginCredentialException">
<soap:fault name="InvalidLoginCredentialException" use="literal"/>
</fault>
<fault name="ProductNotFoundException">
<soap:fault name="ProductNotFoundException" use="literal"/>
</fault>
</operation>
<operation name="retrieveAllProducts">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="InvalidLoginCredentialException">
<soap:fault name="InvalidLoginCredentialException" use="literal"/>
</fault>
</operation>
</binding>
<service name="ProductEntityWebService">
<port name="ProductEntityWebServicePort" binding="tns:ProductEntityWebServicePortBinding">
<soap:address location="http://localhost:8080/ProductEntityWebService/ProductEntityWebService"/>
</port>
</service>
</definitions>