PointOfSaleSystemV54/PointOfSaleSystemV54JavaSeClient/src/META-INF/wsdl/localhost_8080/SaleTransactionEntityWebService/SaleTransactionEntityWebService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws.session.ejb/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ws.session.ejb/" name="SaleTransactionEntityWebService">
<types>
<xsd:schema>
<xsd:import namespace="http://ws.session.ejb/" schemaLocation="http://localhost:8080/SaleTransactionEntityWebService/SaleTransactionEntityWebService?xsd=1"/>
</xsd:schema>
</types>
<message name="serverStateRemoteCheckout">
<part name="parameters" element="tns:serverStateRemoteCheckout"/>
</message>
<message name="serverStateRemoteCheckoutResponse">
<part name="parameters" element="tns:serverStateRemoteCheckoutResponse"/>
</message>
<message name="InvalidLoginCredentialException">
<part name="fault" element="tns:InvalidLoginCredentialException"/>
</message>
<message name="RemoteCheckoutControllerNotFoundException">
<part name="fault" element="tns:RemoteCheckoutControllerNotFoundException"/>
</message>
<message name="StaffNotFoundException">
<part name="fault" element="tns:StaffNotFoundException"/>
</message>
<message name="CreateNewSaleTransactionException">
<part name="fault" element="tns:CreateNewSaleTransactionException"/>
</message>
<message name="clientStateRemoteCheckout">
<part name="parameters" element="tns:clientStateRemoteCheckout"/>
</message>
<message name="clientStateRemoteCheckoutResponse">
<part name="parameters" element="tns:clientStateRemoteCheckoutResponse"/>
</message>
<message name="serverStateRemoteAddItem">
<part name="parameters" element="tns:serverStateRemoteAddItem"/>
</message>
<message name="serverStateRemoteAddItemResponse">
<part name="parameters" element="tns:serverStateRemoteAddItemResponse"/>
</message>
<message name="ProductNotFoundException">
<part name="fault" element="tns:ProductNotFoundException"/>
</message>
<message name="serverStateRequestRemoteCheckoutController">
<part name="parameters" element="tns:serverStateRequestRemoteCheckoutController"/>
</message>
<message name="serverStateRequestRemoteCheckoutControllerResponse">
<part name="parameters" element="tns:serverStateRequestRemoteCheckoutControllerResponse"/>
</message>
<message name="UnableToCreateRemoteCheckoutControllerException">
<part name="fault" element="tns:UnableToCreateRemoteCheckoutControllerException"/>
</message>
<portType name="SaleTransactionEntityWebService">
<operation name="serverStateRemoteCheckout">
<input wsam:Action="http://ws.session.ejb/SaleTransactionEntityWebService/serverStateRemoteCheckoutRequest" message="tns:serverStateRemoteCheckout"/>
<output wsam:Action="http://ws.session.ejb/SaleTransactionEntityWebService/serverStateRemoteCheckoutResponse" message="tns:serverStateRemoteCheckoutResponse"/>
<fault message="tns:InvalidLoginCredentialException" name="InvalidLoginCredentialException" wsam:Action="http://ws.session.ejb/SaleTransactionEntityWebService/serverStateRemoteCheckout/Fault/InvalidLoginCredentialException"/>
<fault message="tns:RemoteCheckoutControllerNotFoundException" name="RemoteCheckoutControllerNotFoundException" wsam:Action="http://ws.session.ejb/SaleTransactionEntityWebService/serverStateRemoteCheckout/Fault/RemoteCheckoutControllerNotFoundException"/>
<fault message="tns:StaffNotFoundException" name="StaffNotFoundException" wsam:Action="http://ws.session.ejb/SaleTransactionEntityWebService/serverStateRemoteCheckout/Fault/StaffNotFoundException"/>
<fault message="tns:CreateNewSaleTransactionException" name="CreateNewSaleTransactionException" wsam:Action="http://ws.session.ejb/SaleTransactionEntityWebService/serverStateRemoteCheckout/Fault/CreateNewSaleTransactionException"/>
</operation>
<operation name="clientStateRemoteCheckout">
<input wsam:Action="http://ws.session.ejb/SaleTransactionEntityWebService/clientStateRemoteCheckoutRequest" message="tns:clientStateRemoteCheckout"/>
<output wsam:Action="http://ws.session.ejb/SaleTransactionEntityWebService/clientStateRemoteCheckoutResponse" message="tns:clientStateRemoteCheckoutResponse"/>
<fault message="tns:InvalidLoginCredentialException" name="InvalidLoginCredentialException" wsam:Action="http://ws.session.ejb/SaleTransactionEntityWebService/clientStateRemoteCheckout/Fault/InvalidLoginCredentialException"/>
<fault message="tns:CreateNewSaleTransactionException" name="CreateNewSaleTransactionException" wsam:Action="http://ws.session.ejb/SaleTransactionEntityWebService/clientStateRemoteCheckout/Fault/CreateNewSaleTransactionException"/>
</operation>
<operation name="serverStateRemoteAddItem">
<input wsam:Action="http://ws.session.ejb/SaleTransactionEntityWebService/serverStateRemoteAddItemRequest" message="tns:serverStateRemoteAddItem"/>
<output wsam:Action="http://ws.session.ejb/SaleTransactionEntityWebService/serverStateRemoteAddItemResponse" message="tns:serverStateRemoteAddItemResponse"/>
<fault message="tns:InvalidLoginCredentialException" name="InvalidLoginCredentialException" wsam:Action="http://ws.session.ejb/SaleTransactionEntityWebService/serverStateRemoteAddItem/Fault/InvalidLoginCredentialException"/>
<fault message="tns:RemoteCheckoutControllerNotFoundException" name="RemoteCheckoutControllerNotFoundException" wsam:Action="http://ws.session.ejb/SaleTransactionEntityWebService/serverStateRemoteAddItem/Fault/RemoteCheckoutControllerNotFoundException"/>
<fault message="tns:ProductNotFoundException" name="ProductNotFoundException" wsam:Action="http://ws.session.ejb/SaleTransactionEntityWebService/serverStateRemoteAddItem/Fault/ProductNotFoundException"/>
</operation>
<operation name="serverStateRequestRemoteCheckoutController">
<input wsam:Action="http://ws.session.ejb/SaleTransactionEntityWebService/serverStateRequestRemoteCheckoutControllerRequest" message="tns:serverStateRequestRemoteCheckoutController"/>
<output wsam:Action="http://ws.session.ejb/SaleTransactionEntityWebService/serverStateRequestRemoteCheckoutControllerResponse" message="tns:serverStateRequestRemoteCheckoutControllerResponse"/>
<fault message="tns:InvalidLoginCredentialException" name="InvalidLoginCredentialException" wsam:Action="http://ws.session.ejb/SaleTransactionEntityWebService/serverStateRequestRemoteCheckoutController/Fault/InvalidLoginCredentialException"/>
<fault message="tns:UnableToCreateRemoteCheckoutControllerException" name="UnableToCreateRemoteCheckoutControllerException" wsam:Action="http://ws.session.ejb/SaleTransactionEntityWebService/serverStateRequestRemoteCheckoutController/Fault/UnableToCreateRemoteCheckoutControllerException"/>
</operation>
</portType>
<binding name="SaleTransactionEntityWebServicePortBinding" type="tns:SaleTransactionEntityWebService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="serverStateRemoteCheckout">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="InvalidLoginCredentialException">
<soap:fault name="InvalidLoginCredentialException" use="literal"/>
</fault>
<fault name="RemoteCheckoutControllerNotFoundException">
<soap:fault name="RemoteCheckoutControllerNotFoundException" use="literal"/>
</fault>
<fault name="StaffNotFoundException">
<soap:fault name="StaffNotFoundException" use="literal"/>
</fault>
<fault name="CreateNewSaleTransactionException">
<soap:fault name="CreateNewSaleTransactionException" use="literal"/>
</fault>
</operation>
<operation name="clientStateRemoteCheckout">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="InvalidLoginCredentialException">
<soap:fault name="InvalidLoginCredentialException" use="literal"/>
</fault>
<fault name="CreateNewSaleTransactionException">
<soap:fault name="CreateNewSaleTransactionException" use="literal"/>
</fault>
</operation>
<operation name="serverStateRemoteAddItem">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="InvalidLoginCredentialException">
<soap:fault name="InvalidLoginCredentialException" use="literal"/>
</fault>
<fault name="RemoteCheckoutControllerNotFoundException">
<soap:fault name="RemoteCheckoutControllerNotFoundException" use="literal"/>
</fault>
<fault name="ProductNotFoundException">
<soap:fault name="ProductNotFoundException" use="literal"/>
</fault>
</operation>
<operation name="serverStateRequestRemoteCheckoutController">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="InvalidLoginCredentialException">
<soap:fault name="InvalidLoginCredentialException" use="literal"/>
</fault>
<fault name="UnableToCreateRemoteCheckoutControllerException">
<soap:fault name="UnableToCreateRemoteCheckoutControllerException" use="literal"/>
</fault>
</operation>
</binding>
<service name="SaleTransactionEntityWebService">
<port name="SaleTransactionEntityWebServicePort" binding="tns:SaleTransactionEntityWebServicePortBinding">
<soap:address location="http://localhost:8080/SaleTransactionEntityWebService/SaleTransactionEntityWebService"/>
</port>
</service>
</definitions>