PointOfSaleSystemV54/PointOfSaleSystemV54JavaSeClient/src/META-INF/wsdl/localhost_8080/SaleTransactionEntityWebService/SaleTransactionEntityWebService.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><xs:schema xmlns:tns="http://ws.session.ejb/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://ws.session.ejb/">

<xs:element name="CreateNewSaleTransactionException" type="tns:CreateNewSaleTransactionException"/>

<xs:element name="InvalidLoginCredentialException" type="tns:InvalidLoginCredentialException"/>

<xs:element name="ProductNotFoundException" type="tns:ProductNotFoundException"/>

<xs:element name="RemoteCheckoutControllerNotFoundException" type="tns:RemoteCheckoutControllerNotFoundException"/>

<xs:element name="StaffNotFoundException" type="tns:StaffNotFoundException"/>

<xs:element name="UnableToCreateRemoteCheckoutControllerException" type="tns:UnableToCreateRemoteCheckoutControllerException"/>

<xs:element name="clientStateRemoteCheckout" type="tns:clientStateRemoteCheckout"/>

<xs:element name="clientStateRemoteCheckoutResponse" type="tns:clientStateRemoteCheckoutResponse"/>

<xs:element name="serverStateRemoteAddItem" type="tns:serverStateRemoteAddItem"/>

<xs:element name="serverStateRemoteAddItemResponse" type="tns:serverStateRemoteAddItemResponse"/>

<xs:element name="serverStateRemoteCheckout" type="tns:serverStateRemoteCheckout"/>

<xs:element name="serverStateRemoteCheckoutResponse" type="tns:serverStateRemoteCheckoutResponse"/>

<xs:element name="serverStateRequestRemoteCheckoutController" type="tns:serverStateRequestRemoteCheckoutController"/>

<xs:element name="serverStateRequestRemoteCheckoutControllerResponse" type="tns:serverStateRequestRemoteCheckoutControllerResponse"/>

<xs:complexType name="serverStateRemoteCheckout">
<xs:sequence>
<xs:element name="username" type="xs:string" minOccurs="0"/>
<xs:element name="password" type="xs:string" minOccurs="0"/>
<xs:element name="sessionKey" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="serverStateRemoteCheckoutResponse">
<xs:sequence>
<xs:element name="return" type="tns:saleTransactionEntity" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="saleTransactionEntity">
<xs:sequence>
<xs:element name="customerEntity" type="tns:customerEntity" minOccurs="0"/>
<xs:element name="saleTransactionId" type="xs:long" minOccurs="0"/>
<xs:element name="saleTransactionLineItemEntities" type="tns:saleTransactionLineItemEntity" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="staffEntity" type="tns:staffEntity" minOccurs="0"/>
<xs:element name="totalAmount" type="xs:decimal" minOccurs="0"/>
<xs:element name="totalLineItem" type="xs:int" minOccurs="0"/>
<xs:element name="totalQuantity" type="xs:int" minOccurs="0"/>
<xs:element name="transactionDateTime" type="xs:dateTime" minOccurs="0"/>
<xs:element name="voidRefund" type="xs:boolean" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="customerEntity">
<xs:sequence>
<xs:element name="customerId" type="xs:long" minOccurs="0"/>
<xs:element name="email" type="xs:string" minOccurs="0"/>
<xs:element name="firstName" type="xs:string" minOccurs="0"/>
<xs:element name="lastName" type="xs:string" minOccurs="0"/>
<xs:element name="password" type="xs:string" minOccurs="0"/>
<xs:element name="saleTransactionEntities" type="tns:saleTransactionEntity" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="salt" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="saleTransactionLineItemEntity">
<xs:sequence>
<xs:element name="productEntity" type="tns:productEntity" minOccurs="0"/>
<xs:element name="quantity" type="xs:int" minOccurs="0"/>
<xs:element name="saleTransactionLineItemId" type="xs:long" minOccurs="0"/>
<xs:element name="serialNumber" type="xs:int" minOccurs="0"/>
<xs:element name="subTotal" type="xs:decimal" minOccurs="0"/>
<xs:element name="unitPrice" type="xs:decimal" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="productEntity">
<xs:sequence>
<xs:element name="categoryEntity" type="tns:categoryEntity" minOccurs="0"/>
<xs:element name="description" type="xs:string" minOccurs="0"/>
<xs:element name="name" type="xs:string" minOccurs="0"/>
<xs:element name="productId" type="xs:long" minOccurs="0"/>
<xs:element name="productRating" type="xs:int" minOccurs="0"/>
<xs:element name="quantityOnHand" type="xs:int" minOccurs="0"/>
<xs:element name="reorderQuantity" type="xs:int" minOccurs="0"/>
<xs:element name="skuCode" type="xs:string" minOccurs="0"/>
<xs:element name="tagEntities" type="tns:tagEntity" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="unitPrice" type="xs:decimal" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="categoryEntity">
<xs:sequence>
<xs:element name="categoryId" type="xs:long" minOccurs="0"/>
<xs:element name="description" type="xs:string" minOccurs="0"/>
<xs:element name="name" type="xs:string" minOccurs="0"/>
<xs:element name="parentCategoryEntity" type="tns:categoryEntity" minOccurs="0"/>
<xs:element name="productEntities" type="tns:productEntity" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="subCategoryEntities" type="tns:categoryEntity" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="tagEntity">
<xs:sequence>
<xs:element name="name" type="xs:string" minOccurs="0"/>
<xs:element name="productEntities" type="tns:productEntity" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="tagId" type="xs:long" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="staffEntity">
<xs:sequence>
<xs:element name="accessRightEnum" type="tns:accessRightEnum" minOccurs="0"/>
<xs:element name="firstName" type="xs:string" minOccurs="0"/>
<xs:element name="lastName" type="xs:string" minOccurs="0"/>
<xs:element name="password" type="xs:string" minOccurs="0"/>
<xs:element name="saleTransactionEntities" type="tns:saleTransactionEntity" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="salt" type="xs:string" minOccurs="0"/>
<xs:element name="staffId" type="xs:long" minOccurs="0"/>
<xs:element name="username" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="InvalidLoginCredentialException">
<xs:sequence>
<xs:element name="message" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="RemoteCheckoutControllerNotFoundException">
<xs:sequence>
<xs:element name="message" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="StaffNotFoundException">
<xs:sequence>
<xs:element name="message" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="CreateNewSaleTransactionException">
<xs:sequence>
<xs:element name="message" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="clientStateRemoteCheckout">
<xs:sequence>
<xs:element name="username" type="xs:string" minOccurs="0"/>
<xs:element name="password" type="xs:string" minOccurs="0"/>
<xs:element name="remoteCheckoutLineItems" type="tns:remoteCheckoutLineItem" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="remoteCheckoutLineItem">
<xs:sequence>
<xs:element name="quantity" type="xs:int" minOccurs="0"/>
<xs:element name="skuCode" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="clientStateRemoteCheckoutResponse">
<xs:sequence>
<xs:element name="return" type="tns:saleTransactionEntity" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="serverStateRemoteAddItem">
<xs:sequence>
<xs:element name="username" type="xs:string" minOccurs="0"/>
<xs:element name="password" type="xs:string" minOccurs="0"/>
<xs:element name="sessionKey" type="xs:string" minOccurs="0"/>
<xs:element name="remoteCheckoutLineItem" type="tns:remoteCheckoutLineItem" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="serverStateRemoteAddItemResponse">
<xs:sequence>
<xs:element name="return" type="xs:decimal" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ProductNotFoundException">
<xs:sequence>
<xs:element name="message" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="serverStateRequestRemoteCheckoutController">
<xs:sequence>
<xs:element name="username" type="xs:string" minOccurs="0"/>
<xs:element name="password" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="serverStateRequestRemoteCheckoutControllerResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="UnableToCreateRemoteCheckoutControllerException">
<xs:sequence>
<xs:element name="message" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:simpleType name="accessRightEnum">
<xs:restriction base="xs:string">
<xs:enumeration value="CASHIER"/>
<xs:enumeration value="MANAGER"/>
</xs:restriction>
</xs:simpleType>
</xs:schema>